[submodule "extern/flatbuffers"]
	path = extern/flatbuffers
	url = https://github.com/google/flatbuffers
[submodule "extern/libuv"]
	path = extern/libuv
	url = https://github.com/libuv/libuv
[submodule "extern/boost"]
	path = extern/boost
	url = https://github.com/boostorg/boost
